HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### java ###
*.class
*.log
*.lock

### pakagefile ###
*.jar
*.war
*.ear
target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.idea
.classpath
.project
.settings/
bin/
.idea/

*.log
tmp/

*rebel.xml*

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
