<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs1802.museum.mapper.CollectionMapper">
    <select id="getCollection" resultType="com.cs1802.museum.bean._Collection">
        SELECT * FROM collection where mid = #{mid}
    </select>

    <select id="searchByName" resultType="_Collection">
        select * from collection where cname like concat('%', #{searchItem}, '%')
    </select>
</mapper>