<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs1802.museum.mapper.CommentsMapper">
    <resultMap id="generalMap" type="com.cs1802.museum.bean.Comments">
        <result property="general_comment" column="general_comment"></result>
    </resultMap>
    <select id="getComments" resultMap="generalMap">
        select * from comments where mid = #{mid}
    </select>

    <select id="isComment" resultType="com.cs1802.museum.bean.Comments">
        SELECT * FROM comments where uid=#{uid} and mid=#{mid}
    </select>

    <resultMap id="general_Map" type="com.cs1802.museum.bean.AllComments">
        <result property="general_comment" column="general_comment"></result>
    </resultMap>
    <select id="showComments" resultMap="general_Map">
        SELECT * FROM comments where mid=#{mid}
    </select>

    <insert id="uploadComments">
        <bind name="comment" value="comment"/>
        <bind name="picture" value="picture"/>
        INSERT INTO comments set uid=#{uid},mid=#{mid},exhibitionstar=#{exhibitionstar},servicestar=#{servicestar},environmentstar=#{environmentstar},general_comment=#{general_comment}
        <trim prefix="," suffix=" " suffixOverrides=",">
        <if test="comment!=null">
             comment=#{comment},
        </if>
        <if test="picture!=null">
            picture=#{picture}
        </if>
        </trim>
    </insert>
</mapper>