<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs1802.museum.mapper.ExhibitionMapper">
    <select id="getExhibition" resultType="com.cs1802.museum.bean.Exhibition">
        SELECT * FROM exhibition where mid = #{mid}
    </select>

    <select id="searchByName" resultType="exhibition">
        select * from exhibition where ename like concat('%', #{searchItem}, '%')
    </select>
</mapper>