<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs1802.museum.mapper.MuseumMapper">
    <select id="getMuseum" resultType="com.cs1802.museum.bean.Museum">
        SELECT * FROM museums where mid = #{museum}
    </select>
    <select id="museumCountByCity" resultType="int">
        select count(*) from museums where city = #{city};
    </select>
    <select id="museumPageByCity" resultType="museum">
        select * from museums where city = #{city} limit #{begin}, #{pageSize}
    </select>
</mapper>