<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs1802.museum.mapper.NewsMapper">
    <select id="getNews" resultType="com.cs1802.museum.bean.News">
        SELECT * FROM news where mid = #{mid}
    </select>

    <select id="getCount" resultType="int">
        select count(*) from news
    </select>
    <select id="getItems" resultType="com.cs1802.museum.bean.News">
        select * from news limit #{begin}, #{pageSize}
    </select>
</mapper>